<div class="panel panel-primary">
  <div class="panel-heading text-left">
    <h2>Author List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-fixed table-hover table-condensed">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors | async">
          <td>{{author.firstName}}</td>
          <td>{{author.lastName}}</td>
          <td>
            <button (click)="updateAuthor(author.id)" class="btn btn-success">Update</button>
            <button (click)="authorDetails(author.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            <button (click)="deleteAuthor(author.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>