<h2>Author Details</h2> 

<hr/>
<div *ngIf="author">
  <div>
    <label><b>First Name: </b></label> {{author.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{author.lastName}}
  </div>

</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Author List</button><br>