<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Book List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Edition</th>
            <th>Yearofpublish</th>
            <th>Isbn</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | async">
            <td>{{book.Title}}</td>
            <td>{{book.Edition}}</td>
            <td>{{book.YearofPublish}}</td>
            <td>{{book.Isbn}}</td>
            <td><button (click)="deleteBook(book.id)" class="btn btn-danger">Delete</button>
                <button (click)="bookDetails(book.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>